<!-- Footer contents  -->
<footer>
  <div class="footer"></div>
  <br />

  <div class="footer-grid">
    <div class="footer-content">
      <h3 class="footer-heading">About</h3>
      <ul>
        <li>
          <a href="about.html" class="footer-link">Our Story</a>
        </li>
        <li>
          <a href="policy.html" class="footer-link">Privacy Policy</a>
        </li>
        <li>
          <a href="faq.html" class="footer-link">FAQ</a>
        </li>
      </ul>
    </div>
    <div class="footer-content">
      <h3 class="footer-heading">Quick Links</h3>
      <ul>
        <li>
          <a href="courses.html" class="footer-link">Courses</a>
        </li>
        <li>
          <a href="profile.html" class="footer-link">My Account</a>
        </li>
        <li>
          <a href="dashboard.html" class="footer-link">Course Dashboard</a>
        </li>
      </ul>
    </div>
    <div class="footer-content">
      <h3 class="footer-heading">Social Links</h3>
      <ul>
        <li>
          <a
            href="https://www.youtube.com/channel/UCV-XEWlPJAVQ74XigeVoMsA"
            target="_blank"
            class="footer-link"
            >YouTube</a
          >
        </li>
        <li>
          <a
            href="https://www.linkedin.com/company/yearn-ai-africa"
            target="_blank"
            class="footer-link"
            >LinkedIn</a
          >
        </li>
        <li>
          <a
            href="https://github.com/Jokmonsimon"
            target="_blank"
            class="footer-link"
            >GitHub</a
          >
        </li>
      </ul>
    </div>
    <div class="footer-content">
      <h3 class="footer-heading">Contact Info</h3>
      <p class="footer-contact">+256 776 020431</p>
      <p class="footer-contact">P.O. Box 360611 Gulu, Uganda</p>
      <p class="footer-contact">sales@yearnaiafrica.com</p>
    </div>
  </div>
  <br />
  <p class="footer-copyright">
    Copyright &#169; 2024 Yearn AI Africa | All Rights Reserved
  </p>
  <br />
</footer>
